@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.eot');
    src: local('Muller Thin DEMO'), local('MullerThinDEMO'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap; 
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.eot');
    src: local('Muller Bold DEMO'), local('MullerBoldDEMO'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap; 
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLight.woff');
    src: local('Muller Light DEMO'), local('MullerLightDEMO'),
        url('../fonts/MullerLight.woff2') format('woff2'),
        url('../fonts/MullerLight.woff') format('woff');
        font-weight: 200;
        font-style: normal;
        font-display: swap; 
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    color: #CC9933;
    user-select: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'Muller', 'sans-serif';
    background: #F1F1F1;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.flex {
    display: flex;
}

.container {
    width: 1170px;
    padding: 0;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.section-offset {
    padding-bottom: 70px;
}

.header {
    padding-top: 30px;
    padding-bottom: 70px;
}

.header-container {
    min-width: 1100px;
    min-height: 154px;
}

.header-top {
    min-height: 54px;
    align-items: center;
    margin-bottom: 30px;  
    justify-content: space-between;           
}

.header-adress {
    margin-right: 500px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}
.header-link-entrance {
    padding-left: 29px;
    background-image: url('../img/login.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 24px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;  
}

.header-bottom {
    max-width: 1170px;    
    min-height: 70px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 0;
}

.header-nav {
    justify-items: center;
    align-items: center;
}

.header-list-item {
    padding-top: 14px;
    margin-left: 45px;
    max-height: 14px;
}

.header-link {
    color: #666666;
}

.container-header-button {
    justify-content: flex-end;
    margin-left: 114px;
}

.button {
    border: 1px solid #CC9933;
    border-radius: 10px;
    padding: 13px 20px;
    color: #CC9933;    
}

.button:nth-child(2) {
    margin-left: 40px;
}

.special-offers-list {
    flex-direction: column;
    max-height: 540px;
    flex-wrap: wrap;
}

.special-offers-list-item {
    align-items: flex-end;
    min-width: 573px;
    height: 258px;
    background-repeat: no-repeat;
    border-radius: 15px; 
}

.special-offers-list-item:nth-child(1) {
    background-image:  linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-offer-1.jpg");    
    margin-bottom: 24px;
    margin-right: 24px;
}

.special-offers-list-item:nth-child(2) {
    background-image:  linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-offer-2.jpg");
    margin-right: 24px;
}

.special-offers-list-item:nth-child(3) {
    background-image: url("../img/special-offer-3.jpg");
    height: 540px;
}

.special-offers-list-header {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: white;
}

.special-offers-list-big-header {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: white;
}

.special-offers-list-prices {
    margin-top: 15px;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: white;
    opacity: 0.8;
}

.special-offers-list-big-prices {
    margin-top: 15px;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: white;
    opacity: 0.8;
}

.special-offer-desc {
    margin: 40px 108px 24px 45px;
    max-width: 420px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.special-offer-big-desc {
    margin: 40px 108px 40px 45px;
    max-width: 299px;
}

.special-offers-list-more {
    padding-right: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background-image: url('../img/Rectangle\ 2.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.about-us-desc {
    max-width: 888px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.section-offers {
    padding-bottom: 46px;
}

.container-offers {
    width: 1174px;
    min-height: 744px;
}

.offers-list-item {
    display: inline-block;
    vertical-align: bottom;
    width: 573px;
    border-radius: 15px 15px 0px 0px;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.offers-list-item:nth-child(2n) {
    margin-left: 24px;
}

.offers-list-item:nth-child(1) {
    background-image: url("../img/offer-photo-1.jpg");    
}

.offers-list-item:nth-child(2) {
    background-image: url("../img/offer-photo-2.jpg");
}

.offers-list-item:nth-child(3) {
    background-image: url("../img/offer-photo-3.jpg");
}

.offers-list-item:nth-child(4) {
    background-image: url("../img/offer-photo-4.jpg");
}

.offers-descr {
    background: white;
    margin-top: 165px;
    padding: 26px 126px 35px 45px;
    border-radius: 0px 0px 15px 15px;
}

.offers-list-links {
    padding-right: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    background-image: url('../img/Rectangle\ 2.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.container-advantages {
    width: 1182px;
}

.advantages-list-items {
    display: inline-block;
    vertical-align: bottom;
    width: 276px;
    height: 276px;  
    background: white;
    border-radius: 15px;
    margin-bottom: 22px;
}

.advantages-list-items:not(:nth-child(4n)) {
    margin-right: 22px;
}

.advantages-descr {
    padding: 40px 42px 32px 45px;
}

.advatages-list-items-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}


/* Accomadation */

.accomadation-list {
    font-size: 0;
}

.accomadation-list-items:nth-child(1) {
    background-image: url("../img/accomadation-photo-1.jpg");
}

.accomadation-list-items:nth-child(2) {
    background-image: url("../img/accomadation-photo-2.jpg");
}

.accomadation-list-items:nth-child(3) {
    background-image: url("../img/accomadation-photo-3.jpg");
}

.accomadation-list-items:nth-child(4) {
    background-image: url("../img/accomadation-photo-4.jpg");
}

.accomadation-list-items:nth-child(5) {
    background-image: url("../img/accomadation-photo-5.jpg");
}

.accomadation-list-items:nth-child(6) {
    background-image: url("../img/accomadation-photo-6.jpg");
}

.accomadation-list-items:nth-child(7) {
    background-image: url("../img/accomadation-photo-7.jpg");
}

.accomadation-list-items:nth-child(8) {
    background-image: url("../img/accomadation-photo-8.jpg");
}

.accomadation-list-items:nth-child(9) {
    background-image: url("../img/accomadation-photo-9.jpg");
}

.accomadation-list-items {
    background: white;
    border-radius: 15px;
}

.accomadation-descr {
    margin-top: 217px;
}

.accomadation-list-items {
    display: inline-block;
    vertical-align: bottom;
    background-repeat: no-repeat;
    width: 374px;
    height: 440px;
}
.accomadation-list-items-pricing {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 45px;
    padding-top: 32px;
    min-width: 400px;
}

.accomadation-list-items-span {
    padding-right: 4px;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}

.accomadation-list-items-price {
    padding-right: 4px;
    font-size: 20px;
}

.accomadation-list-items-per-night {
    padding-right: 48px;
    font-size: 16px;
}

.accomadation-list-items-rating {
    padding-left: 6px;
}

.accomadation-list-items-hotel {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.accomadation-list-items-location {
    color: #999999;
}

.accomadation-button {
    margin-top: 20px;
}

.accomadation-list-items-price {
    margin: 0;
    margin-bottom: 16px;
}

.accomadation-list-items-per-night {
    margin: 0;
    margin-bottom: 16px;
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}


.accomadation-list-items-link {
    padding-right: 16px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    background-image: url('../img/Rectangle\ 1.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.accomadation-descr-special {
    height: 413px;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
}

.accomadation-list-items {
    margin-bottom: 24px;
}

.accomadation-list-items:not(:nth-child(3n)) {
    margin-right: 24px;
}

.section-accomadation {
    padding: 46px;
}

.want-tour-container {
    background: #E9E9E9;
    border-radius: 15px;
    padding-bottom: 53px;
}

.want-tour-title {
    padding-top: 37px;
    color: #000000;
}

.container-form {
    margin: 0 45px 0 45px;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 31px 28px 32px 28px;
    min-width: 1080px;
}

.form-list {
    align-items: center;
}

.form-name {
    margin: 0;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.form-list-item:not(:last-child) {
    margin-right: 41px;
}

.input-answer, .choose-answer, .input-date {
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.choose-answer {
    min-width: 169px;
}

.input-date {
    width: 121px;
}

.input-answer {
    width: 121px;
    border-bottom: 1px solid #E9E9E9;
}

.submit {
    color: inherit;
    text-decoration: none;
    color: #CC9933;
    user-select: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    padding: 13px 30px;
    border: 1px solid #CC9933;
    border-radius: 10px;
}

.contats-content {
    background-color: white;
    border-radius: 15px;
    padding: 45px;
}

.contacts-descr {
    flex-direction: column;
    margin-right: 52px;
}

.contacts-child-title {
    margin: 0;
    min-width: 145px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.contacts-child-descr {
    margin: 0;
    max-width: 230px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.phones-link {
    margin: 0;
    flex-direction: column;
}

.email-link {
    margin: 0;
    flex-direction: column;
}

.row {
    border-bottom: 1px solid #E9E9E9;
    padding: 25px 0 25px;
}

.row:nth-child(1) {
    padding-top: 0;
}

.phones-link {
    font-weight: 400;
    font-size: 16px;
    color: #CC9933;
}

.email-link {
    line-height: 150%;
    font-weight: 400;
    font-size: 16px;
}

.email-link span {
    color: #999999;
}

.btn-contacts {
    margin-top: 35px;
    padding: 27px 0;
    max-width: 213px;
}

.contacts-preview {
    min-height: 528px;
}

.footer-container {
    background: #333333;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 45px;
    background-image: url('../img/footer-logo.svg');
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 100%;
}

.footer-left {
    margin-right: 125px;
}

.footer-right {
    min-width: 610px;
}

.footer-container p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: white;
}

.footer-list-1 {
    flex-direction: column;
    width: 300px;
}

.info {
    padding-bottom: 37px;
}

.offert {
    padding-bottom: 40px;
}

.footer-list-agreement, .footer-list-tel-number, .footer-list-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.footer-phone-numbers, .footer-emails {
    flex-direction: column;
}

.footer-list-items-contacts {
    margin-top: 15px;
}

.social-networks-list-items:not(:last-child) {
    margin-bottom: 15px;
}